# Root directory
.idea
.vscode

# Other files
fuel_quota_management_system_requirements.pdf
test_login.json


# Backend
backend/.idea
backend/target
backend/HELP.md

backend/src/main/resources/application.properties
fuel-station-app/src/services/SMSService.js


# Frontend
frontend/node_modules
# Frontend production
frontend/build


# Fuel Quota App
fuel-station-app/.expo
fuel-station-app/%ProgramData%
fuel-station-app/node_modules
